.wrapper {
  border-bottom: 2px solid rgb(82, 82, 82);
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 5rem 0 5rem;
  height: 4.5rem;
}

.title {
  color: inherit;
  letter-spacing: 0.3rem;
}
.title h1 {
  font-size: 3rem;
  font-weight: bold;
  transition: all 0.2s;
}

.title h1:hover {
  cursor: pointer;
  font-size: 3.3rem;
}

.hamburgerMenu {
  visibility: visible;
  border-radius: 50%;
  background-color: transparent;
  width: 48px;
  margin-right: 152px;
}

.hamburgerMenu:hover {
  background-color: rgba(120, 120, 120, 0.5);
}
