.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 0 0.5rem 0 0.5rem;
}

.leftSection {
  position: relative;
  display: none;
  flex: 1;
  z-index: 10;
}

.middleSection {
  flex: 1;
  text-align: left;
}

.title {
  color: inherit;
}

.title h1 {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.title h1:hover {
  font-size: 2.3rem;
}

.rightSection {
  flex: 1;
}

.navbarList {
  display: flex;
  justify-content: end;
}

.sidebar {
  position: absolute;
  overflow: scroll;
  top: 4rem;
  left: -3rem;
  background-color: #121212;
  width: 15rem;
  max-height: 30rem;
  border-right: 2px solid rgb(82, 82, 82);
  border-top: 1px solid rgb(82, 82, 82);
  border-bottom: 2px solid rgb(82, 82, 82);
  transform: translateX(-200%);
  transition: all 0.2s;
}

.active {
  transform: translateX(0%);
}

.rightSectionInSidbar {
  display: flex;
  justify-content: center;
  margin: 0.3rem 0;
  border-bottom: 1px solid rgb(82, 82, 82);
}

@media (max-width: 767px) {
  .container {
    padding: 0 3rem;
  }

  .leftSection {
    flex: 1;
    display: block;
  }

  .middleSection {
    flex: 2;
    align-items: center;
  }

  .title h1 {
    font-size: 2rem;
    letter-spacing: normal;
  }

  .rightSection {
    display: none;
  }

  .leftSection {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 3rem;
  }

  .leftSection {
    display: block;
  }

  .middleSection {
    align-items: center;
  }

  .title h1 {
    letter-spacing: normal;
  }
}
