.linkButton {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  height: 3rem;
  padding-left: 0.5rem;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
}

.image {
  display: inline-block;
  overflow: hidden;
}
