* {
  font-family: inherit;
}

.card {
  background-color: rgb(22, 22, 22);
  overflow: hidden;
  border: 1px solid rgb(82, 82, 82);
  width: 20rem;
  height: 25rem;
  margin: 0.5rem;
}

.image {
  display: flex;
  justify-content: center;
  aspect-ratio: 16/9;
  overflow: hidden;
  filter: brightness(50%);
  transition: all 0.2s;
}

.image img {
  width: 100%;
  height: 100%;
}

.image:hover {
  filter: brightness(100%);
}

.nameContainer {
  display: flex;
  align-items: center;
  height: 15%;
  margin: 0.5rem;
}
.nameContainer p {
  font-size: 1.5rem;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0.2rem 0 0.2rem;
}

.buttonContainer {
  overflow: hidden;
  width: 10rem;
  height: 4rem;
  border-radius: 10px;
  border: 1px solid rgb(82, 82, 82);
  margin: 0 0.3rem;
}

.button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button span {
  font-weight: 300;
}

/* temp */
.buttonContainer:hover {
  border: 2px solid rgb(120, 82, 82);
  cursor: pointer;
}
