.container {
  margin: 0 10%;
  height: 100%;
}

.header {
  height: 80px;
  border-bottom: 1px solid rgb(82, 82, 82);
}

.mainContainer {
  display: flex;
  min-height: calc(100vh - 80px);
}

.sidebar {
  flex: 20rem;
  border-right: 1px solid rgb(82, 82, 82);
  width: 10rem;
}

.main {
  flex: 100%;
}

.stats {
  flex: 20rem;
  border-left: 1px solid rgb(82, 82, 82);
  width: 10rem;
}

@media (max-width: 767px) {
  .container {
    margin: 0 0;
  }
  .sidebar {
    display: none;
  }

  .stats {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin: 0 0;
  }

  .stats {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
