.modalBackground {
  overflow: hidden;
  visibility: collapse;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.1);

  height: 100%;
  width: 100%;
}

.modalContainer {
  position: absolute;
  background-color: #121212;
  border: 2px solid rgb(82, 82, 82);
  border-radius: 0.5rem;
  height: 40rem;
  width: 35rem;

  transform: translateY(200%);
  transition: all 0.2s;
}

.modalAnimate {
  transform: translateY(0%);
}

.modalVisible {
  visibility: visible !important;
}

/* temporaray butn */

.closeButtonContainer {
  position: absolute;
  right: 0;
}

.closeButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;

  height: 2rem;
  width: 2rem;
}

.closeButton:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .modalContainer {
    height: 35rem;
    width: 20rem;
  }
}
