.modalBackground {
  display: flex;
  visibility: hidden;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  height: 100%;
  width: 100%;
}

.modalContainer {
  position: absolute;
  background-color: #121212;
  border: 2px solid rgb(82, 82, 82);
  border-radius: 0.5rem;
  min-height: 30rem;
  min-width: 25rem;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.1s ease-in-out;
}

.modalAnimate {
  transform: translateY(0%);
  opacity: 1;
}

.modalVisible {
  visibility: visible !important;
}

/* temporaray butn */

.closeButtonContainer {
  position: absolute;
  right: 0;
}

.closeButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;

  height: 2rem;
  width: 2rem;
}

.closeButton:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .modalContainer {
    min-height: 70%;
    min-width: 90%;
  }
}
